@import url('https://fonts.googleapis.com/css2? family= Roboto+Slab:wght@300 & display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');


:root {
  --cor-principal: #4F2F25;
  --cor-secundaria: #380D00;
  --cor-snippets: #f7f4f2;
  --cor-fundo: #d9d7d5;
  --font-titulo: 'Jost', 'Roboto Slab', sans-serif;
  --font-descricao: 'Playfair Display', 'Roboto Slab', serif;

}

.mobile-container {
  max-width: 480px;
  margin: auto;
  background-color: #555;
  height: 500px;
  color: white;
  border-radius: 10px;
}

.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  background-color: var(--cor-principal);
  color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  background-color: var(--cor-snippets);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.botao-footer {
  margin: 50px;

}

.footer {
  margin-top: 5%;
  background-color: var(--cor-principal);
}

.menu {
  background-color: var(--cor-principal);
  width: 100%;
  padding: 2%;
  margin-bottom: 5%;
}

.btn-group {
  float: right;

}
.escolha{
  justify-content: center;
  display: flex;
}
.formulario {

  border-radius: 20px;
  border: solid #bab8b8;
  font-family: var(--font-descricao);
  width: 35%;
  height: 10%;
  text-align: left;
  background-color: var(--cor-fundo);
  padding: 20px;
  margin: auto;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=checkbox] {
  width: 5%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  border-radius: 5px;
  margin-left: 20px;

}

input[type=date] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=email] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=file] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=number] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=radio] {

  width: 10%;
  
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=range] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=search] {
  width: 70%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=tel] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=msg] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.menu-drop {
  display: none;

}

.dropbtn {
  background-color: var(--cor-principal);
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

h1 {
  text-align: center;
  text-decoration: overline;
  font-size: 140%;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.img-icon {
  float: left;
  width: 52px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: var(--cor-secundaria);
}

.active {
  background-color: #04AA6D;
  color: white;
}

@media (max-width: 1424px) {
  .formulario {
    text-align: center;
    background-color: #d5d5d5;
    display: block;
    margin: 10%;
    width: 80%;
  }

  h1 {
    text-decoration: none;
  }

}