@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body{
  background-color: #F6EDE0;
}

/* header*/
.header{
    display: flex;
    width: 100%;
    height: 100px;
    align-items: center;
    justify-content: space-around;
    background-color: #CEAF96;
}
.menu{
    display: flex;
    justify-content: center;
}

.menu-item{
    color: #F6EDE0;
    font-weight: bold;
    font-family: 'Lexend', sans-serif;
    font-size: 20px;
    margin: 25px;
    cursor: pointer;
}
.menu-item:hover{
    text-transform: uppercase;
    text-decoration: underline;
}

.promocoes{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: white;
  background-color: #2B4928;
}

.logo-item{
width: 200px;
}

.header-mobile{
  display: none;
}


/* banner */
.banner{
  text-align: center;
}
.banner-img{
  margin-top: 20px;
  width: 95%;
  height: 800px;
}

/* storys */

.story{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.story-item{
  margin: 5% 5%;
  border: solid 5px #CEAF96;
  border-radius: 200px;
  width: 120px;
  height: 120px; 
}



/* historia */

.historia{
  
  background-color: rgba(206, 175, 150, 0.58);
}

.historia-descricao{
  color: rgba(66, 33, 25, 1);
  font-size: 20px;
  text-align: center;
  margin: auto 9%;
  font-family: Arial, Helvetica, sans-serif;
}

.historia-titulo{
  text-align: center;
  text-transform: uppercase;
  color: rgba(66, 33, 25, 1);
  font-weight: 600;
  font-size: 40px;
  line-height: 50px;
  font-family: Arial, Helvetica, sans-serif;
}

.container-historia{
  display: flex;
  justify-content: space-around;
}

.container-descricao{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.historia-item{
  margin: 30px 10px;
}

.item-container{
  display: flex;
 justify-content: space-around;
 color: rgba(66, 33, 25, 1);
 font-weight: bolder;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

/* nosso café */

.banner-nosso-cafe{
  margin: auto;
}
.nosso-cafe{
  margin: 10% auto;
  display: flex;
  flex-direction: column;
  background-color: rgba(206, 175, 150, 0.58) ;
}

.nosso-cafe-descricao{
  color: rgba(66, 33, 25, 1);
  font-size: 20px;
  text-align: center;
  margin: 5px 15%;
  font-family: Arial, Helvetica, sans-serif;
}
.nosso-cafe-titulo{
  text-align: center;
  text-transform: uppercase;
  color: rgba(66, 33, 25, 1);
  font-weight: 600;
  font-size: 40px;
  line-height: 50px;
  font-family: Arial, Helvetica, sans-serif;
}
.nosso-cafe-container{
  display: flex;
  justify-content: center;
}
.container-cafe{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.img-cafe{
  margin: 30px;
}

/* coffe-tour */
.coffe-tour{
  padding: 3%;
  background-color: rgba(206, 175, 150, 0.58) ;
}
.coffe-tour-2{
  display: flex;
  justify-content: center;
}
.video{
  margin: auto 20px;

}

.video-lista{
  display: flex;
  flex-direction: row;
  margin: auto 20px;
  justify-content: space-between;
}

.vantagens-container{
  text-align: center;
  color: rgba(66, 33, 25, 1);
  background: rgba(206, 175, 150, 0.47);
box-shadow: 10px 5px 4px #000000;
border-radius: 25px;
}

.button-vantagens{
  background-color: #2B4928;
  color: white;
 border: none;
 border-radius: 10px; 
 width: 30%;
}

.item-lista{
  margin: 20px 10px;
}

.container-descricao{
  color: rgba(66, 33, 25, 1);
  font-size: 20px;
  text-align: center;
  margin: 5px 15%;
  font-family: Arial, Helvetica, sans-serif;
}

/* Cursos */

.cursos{
  margin: 10% auto;
  background-color: rgba(206, 175, 150, 0.58) ;
}
.curso-img{
  display: flex;
  justify-content: center;
}

.item-curso{
  text-align: center;
  width: 25%;
  height: 500px;
  margin: 2% auto;
}

.curso-titulo{
  text-align: center;
  text-transform: uppercase;
  color: rgba(66, 33, 25, 1);
  font-weight: 600;
  font-size: 40px;
  line-height: 50px;
  font-family: Arial, Helvetica, sans-serif;
}
.curso-descricao{
  color: rgba(66, 33, 25, 1);
  font-size: 20px;
  text-align: center;
  margin: 5px 15%;
  font-family: Arial, Helvetica, sans-serif;
}

/* nossa fazenda */

.nossa-fazenda{
  text-align: center;
  margin: 10% auto;
  background-color: rgba(206, 175, 150, 0.58) ;
}

.fazenda-img{
  width: 60%;
  height: 500px;
  margin: 5% auto;
}

.fazenda-titulo{
  text-align: center;
  text-transform: uppercase;
  color: rgba(66, 33, 25, 1);
  font-weight: 600;
  font-size: 40px;
  line-height: 50px;
  font-family: Arial, Helvetica, sans-serif;
}

.fazenda-descricao{
  color: rgba(66, 33, 25, 1);
  font-size: 20px;
  text-align: center;
  margin: 5px 15%;
  font-family: Arial, Helvetica, sans-serif;
}


/* newlleter */

.newlleter{
  padding: 5%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #9D7C68 ;
}

.bt-new{
  width: 15%;
  border: none;
  border-radius: 10px;
  background-color: #c7ad9d;
  color:  #F6EDE0 ;
}
.newsletter-titulo{
  font-size: 36px;
  font-weight: bold;
}

.newsletter-descricao{
  font-size: 16px;
  width: 20%;
}
#newsletter{
  border: none;
  border-radius: 8px;
  width: 28%;
  height: 50px;
}

/*maps*/
.maps-titulo{
  text-align: center;
  text-decoration: underline;
  text-transform: uppercase;
  color: rgba(66, 33, 25, 1);
  font-weight: 600;
  margin-top: 5%;
  font-size: 20px;
  line-height: 50px;
  font-family: Arial, Helvetica, sans-serif;
}
.maps{
  width: 100%;
  height: 500px;
}
/* footer */

.footer{
  background-color: #CEAF96;
  display: flex;
  flex-wrap: wrap;
  padding: 1%;
  margin-top: 7%;
  justify-content: space-around;
}

.item-footer{
  text-decoration: none;
  color: #000000;
  font-size: 20px;
  line-height: 24px;
}
.title-footer{
  font-size: 26px;
  margin: 5% auto;
  text-decoration: underline;
}



/* responsividade */

@media only screen and (max-width:1200px){

    .header{
        background-color: #CEAF96;
    }

    .menu{
        display: none;
    }

    .dropbtn{
        display: none;
    }
    .header-mobile{
      display: inline-block;
    }
    .logo{
        display: none;
        width: 100px;
    }

    .footer{
      display: flex;
      flex-direction: column;
   
    }

    .contato, .institucional, .politicas, .suporte{
      text-align: center;
      margin: 30px;
    }

    .container-historia{
      flex-direction: column;
      color: rgba(66, 33, 25, 1);
      text-align: center;
      font-weight: bolder;
      font-size: 20px;
      font-family: Arial, Helvetica, sans-serif;
    }

    .historia-item{
      margin: 2% auto;
      width: 50%;
    }

    .item-container{
      display: none;
    }

    .banner-site{
      margin: 5% auto;
      width: 100%;

    }

    .nosso-cafe-container{
      display: flex;
      justify-content: center;
     
      flex-direction: column;
    }

    .img-cafe{
      width: 90%;
    }

    .coffe-tour-2{
      margin: 3%;
      flex-direction: column;
    }

    .video-coffe{
     width: 30%;
     margin:5% auto;
    }
    .video-coffe-home{
      width: 100%;
    }

    .curso-img{
      flex-direction: column;
    
    }
    .item-curso{
      width: 80%;
      height: 300px;
    }
    
    .fazenda-img{
      width: 90%;
      height: 200px;
    }

    .newlleter{
      flex-direction: column;
    }

    .newsletter-descricao{
      text-align: center;
      width: 100%;
    }

    .mobile-descr{
      justify-content: center;
      display: flex;
      align-items: center;
    }

    #newsletter{
      margin: 1%;
      width: 90%;
    }

    .bt-new{
     height: 51px;
      width: 30%;
    }

}
